.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2em;
  background-image: repeating-linear-gradient(271deg, red, orange, pink);
}
.cardactive {
  transform: scale(1.1);
  transition: all 1s ease-in !important;
}
